*{
box-sizing:border-box;
}


body{

margin:0;
min-height:100vh;
background:linear-gradient(#ffcce5,#ff80b5);
display:flex;
justify-content:center;
align-items:center;
font-family:cursive;
overflow:hidden;

}



.container{

width:90%;
max-width:450px;
text-align:center;

}



.page{

background:white;
padding:30px;
border-radius:35px;
box-shadow:0 0 40px pink;
min-height:60vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;

}



.hidden{

display:none;

}



.teddy{

font-size:90px;
animation:bounce 2s infinite;

}



h1{

color:#ff3385;
font-size:36px;

}



p{

font-size:21px;
color:#555;
line-height:1.6;

}



button{

background:#ff3385;
color:white;
border:none;
padding:15px 25px;
border-radius:40px;
font-size:18px;
cursor:pointer;
margin-top:25px;

}



button:hover{

background:#ff0066;

}



/* Envelope */

#envelope{

font-size:120px;
cursor:pointer;
animation:shake 2s infinite;

}



@keyframes shake{

50%{

transform:rotate(10deg);

}

}



@keyframes bounce{

50%{

transform:translateY(-20px);

}

}



/* Falling hearts */

.hearts{

position:fixed;
top:-10%;
font-size:40px;
animation:fall 8s infinite;

}



@keyframes fall{

from{

top:-10%;

}

to{

top:110%;

}

}



/* Video full screen */

#videoScreen{

position:fixed;
top:0;
left:0;
width:100%;
height:100vh;
background:black;
display:none;
justify-content:center;
align-items:center;
z-index:9999;
opacity:0;
transition:opacity 1s;

}



#videoScreen.show{

display:flex;
opacity:1;

}



#loveVideo{

width:100%;
height:100%;
object-fit:contain;

}




@media(max-width:600px){

h1{

font-size:30px;

}


p{

font-size:20px;

}


button{

font-size:18px;

}

}