body{

margin:0;
height:100vh;
background:linear-gradient(#ffcce5,#ff80b5);
display:flex;
justify-content:center;
align-items:center;
font-family:cursive;
overflow:hidden;

}


.container{

width:90%;
max-width:450px;
text-align:center;

}


.page{

background:white;
padding:30px;
border-radius:35px;
box-shadow:0 0 40px pink;

}


.hidden{

display:none;

}


.teddy{

width:130px;
animation:bounce 2s infinite;

}


h1{

color:#ff3385;
font-size:38px;

}


p{

font-size:20px;
color:#555;
line-height:1.6;

}



button{

background:#ff3385;
color:white;
border:0;
padding:15px 25px;
border-radius:40px;
font-size:18px;

}



button:hover{

background:#ff0066;

}



/* envelope */

#envelope{

font-size:120px;
cursor:pointer;

animation:shake 2s infinite;

}


@keyframes shake{

50%{
transform:rotate(10deg);
}

}



@keyframes bounce{

50%{
transform:translateY(-20px);
}

}



/* hearts */

.hearts{

position:absolute;
font-size:40px;
animation:fall 8s infinite;

}


@keyframes fall{

from{

top:-10%;

}

to{

top:110%;

}

}

@media (max-width:600px){

h1{
    font-size:32px;
}

p{
    font-size:22px;
    line-height:1.6;
}

button{
    font-size:20px;
    padding:15px 25px;
}

.teddy{
    font-size:80px;
}

video{
    width:100%;
}

}